* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  background-color: #ebe8e8;
  text-align: center;
}
.main-header {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  position: fixed;
  display: flex;
  background: #c4d6c4;
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 15;
}
.items-shourcat {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
}
nav a {
  font-family: "Noto Sans Hebrew", sans-serif;
  font-size: 15px;
  text-decoration: none;
  text-align: center;
  color: #706363;
}
.mainbaner {
  margin-right: 20px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 45%;
}
.avatar-icon {
  width: 30px;
  height: 18px;
}
.bi-person-circle {
  bottom: 115%;
  color: black;
  font-size: 175%;
}
.work-sami-logo {
  position: relative;
  margin-left: 3%;
}
.logout {
  cursor: pointer;
  background: #b43e31;
  border-radius: 10px;
  font-family: "Noto Sans Hebrew";
  color: white;
  border: 0;
  padding: 5px 10px;
  font-size: 15px;
  right: 100px;
}
.logout:hover {
  color: #b43e31;
  background-color: transparent;
  border: 1px solid #b43e31;
}
.page-body {
  position: relative;
  padding: 7% 7%;
  font-family: "Noto Sans Hebrew", sans-serif;
}
.page-header {
  font-family: "Secular One", sans-serif;
  font-size: 3rem;
  text-shadow: 0px 6px 6px rgba(0, 0, 0, 0.35);
  padding-bottom: 2%;
}
.req-res {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.req,
.res {
  padding: 4% 4%;
  margin-bottom: 40px;
  background-color: #d9d9dc;
  border-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
}
.req {
  width: 60%;
  height: 260.48px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.req p {
  text-align: right;
}
.req h3 {
  background-color: #5e965e;
}
.email-phone {
  display: flex;
}
.email-phone h4 {
  margin-left: 30px;
}
.h3-delete {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
#deleteRequest {
  font-size: 22px;
  border: 0px;
  background-color: transparent;
}
#deleteRequest:hover {
  color: rgb(137, 13, 13);
  cursor: pointer;
  border: 0px;
  background-color: transparent;
}
.res {
  width: 30%;
  padding: 2% 2%;
}
.res form {
  display: flex;
  flex-direction: column;
}
.res textarea {
  resize: none;
  background-color: transparent;
  border-radius: 10px;
}
.res button {
  background-color: rgb(25, 111, 25);
  padding: 5px 8px;
  border-radius: 15px;
  border: 1px solid transparent;
  color: white;
  cursor: pointer;
  width: 40%;
  align-self: center;
  margin-top: 5px;
}
.res button:hover {
  color: rgb(25, 111, 25);
  background-color: transparent;
  border: 1px solid rgb(25, 111, 25);
}
footer {
  background: #d9d9d9;
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.footer-icons {
  position: absolute;
  left: 0;
  display: flex;
  margin-left: 50px;
}
.footer-icons a {
  margin: 18px;
  font-size: 140%;
  color: black;
}
.site-logo {
  font-size: 10%;
  margin-right: 50px;
}
.footer-icons a:nth-child(1):hover {
  color: rgb(11, 100, 3);
}
.footer-icons a:nth-child(2):hover {
  color: rgb(42, 3, 184);
}
.footer-icons a:nth-child(3):hover {
  color: rgb(179, 88, 2);
}
.footer-icons a:nth-child(4):hover {
  color: rgb(42,  3,  184);
}
