*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #EBE8E8;
    overflow: hidden;
    font-family: 'Noto Sans Hebrew', sans-serif;
}
footer {
    background: #d9d9d9;
    display: flex;
    position: relative;
  }
.main-header{
    display: flex;
    background:#C4D6C4;
    width: 1920px;
    height: 60px;
    left: 0px;
    top: 2px;
}
.items-shourcat {
    position: absolute;
    display: flex;
    justify-content: space-between ;
    top: 15px;
    right: 50px;
    width: 90%;
}
nav a{
    font-size: 15px;
    position: relative;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: #706363;
}
.profile-page{
    right: -40px;
    height: 20px;
    bottom: 7px;
}
.nav-main{
    margin-left: 14px;
    height: 20px;
    right: -150px;
}
.nav-employers{
    right: -250px;
    height: 20px;
}
.nav-student-grad{
    right: -350px;
    height: 20px;
}
.nav-contact{
    right: -450px;
    height: 20px;
}
.avatar-icon{
    width: 30px;
    height: 18px;
}
.bi-person-circle{
    bottom: 115%;
    color: black;
    font-size: 175%;
}
.content-welcome{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    font-size: 30px;
    color: #4A563D;
}
.content-body{
    font-family: 'Guttman Haim';
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0vh;
    text-align: center;
    letter-spacing: 0.03em;
    font-size: 30px;
    font-weight: 400;
    color: #1D861B;;
}
.content-work-sami-logo{
    left: 450px;
    top: 203px;
}
.work-sami-logo{
    position: relative;
    bottom: 15px;
    left: -70px;
    font-size: 175%;
}
.footer-icons {
    position: absolute;
    left: 0;
    display: flex;
    margin-left: 50px;
  }
  .footer-icons a {
    margin: 18px;
    font-size: 140%;
    color: black;
  }
  .site-logo2{
    font-size: 10%;
    margin-right: 50px;
  }
#firstbox {
    position: absolute;
    width: 250px;
    height: 250px;
    left: -90px;
    top: 260px;
    background: rgba(89, 223, 7, 0.73);
    mix-blend-mode: normal;
    opacity: 0.81;
    border-radius: 25px;
    transform: rotate(23.1deg);
    animation: firstb 15s infinite;
  }
  #Secondbox {
    position: absolute;
    width: 300px;
    height: 260px;
    top: 180px;
    right: -50px;
    background: rgba(89, 223, 7, 0.93);
    mix-blend-mode: normal;
    opacity: 0.81;
    border-radius: 36px;
    transform: rotate(-16.44deg);
    animation: secondb 15s infinite;
  }
  
  #Thridbox {
    position: absolute;
    width: 90px;
    height: 100px;
    left: 90px;
    top: 100px;
    background: rgba(61, 148, 6, 0.73);
    mix-blend-mode: normal;
    opacity: 0.81;
    border-radius: 20px;
    transform: rotate(0.1deg);
    animation: thridb 15s infinite;
  }
  #fourthbox {
    position: absolute;
    width: 90px;
    height: 100px;
    top: 480px;
    right: 250px;
    background: rgba(61, 148, 6, 0.73);
    mix-blend-mode: normal;
    opacity: 0.81;
    border-radius: 20px;
    transform: rotate(0.44deg);
    animation: fourthb 15s infinite;
  }
@keyframes secondb{
    0%{
        top: 180px;
        right: -50px;
    }
    50%{
        top: 480px;
        right: 250px;
    }
    100%{
        top: 180px;
        right: -50px;
    }
}
@keyframes firstb{
    0%{
        left: -90px;
        top: 260px; 
    }
    50%{
        left: 90px;
        top: 80px;
    }
    100%{
        left: -90px;
        top: 260px; 
    }
}
@keyframes thridb{
    0%{
        left: 90px;
        top: 100px;
    }
    50%{
        
        top: 280px;
    }
    100%{
        left: 90px;
        top: 100px;
    }
}
@keyframes fourthb{
    0%{
        top: 480px;
        right: 250px;
    }   
    50%{
        top: 260px;
        
    }
    100%{
        top: 480px;
        right: 250px;
    }
}