* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-header {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  position: fixed;
  display: flex;
  background: #c4d6c4;
  top: 0;
  width: 100%;
  height: 60px;
}
.items-shourcat {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
}
nav a {
  font-family: "Noto Sans Hebrew", sans-serif;
  font-size: 15px;
  text-decoration: none;
  text-align: center;
  color: #706363;
}
.mainbaner {
  margin-right: 20px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}
.avatar-icon {
  width: 30px;
  height: 18px;
}
.bi-person-circle {
  bottom: 115%;
  color: black;
  font-size: 175%;
}
.work-sami-logo {
  position: relative;
  margin-left: 3%;
}
body {
  position: relative;
  background-color: #ebe8e8;
  overflow: hidden;
  text-align: center;
}
.page_body {
  margin-top: 85px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.register_form {
  background-color: #1aad17;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 60px;
  position: relative;
  width: 569px;
  height: 341px;
  margin-bottom: 10px;
}
.RgisterInfo {
  font-family: "Noto Sans Hebrew", sans-serif;
  font-weight: 400;
  font-size: 23px;
  text-align: center;
  text-decoration: underline;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.input_details {
  display: flex;
  margin: auto;
  position: relative;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  width: 80%;
  height: 84%;
}
.two_things {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 10px;
}
.two_things label {
  font-family: "Noto Sans Hebrew", sans-serif;
  font-size: 16px;
  align-items: right;
  color: white;
}
.two_things select {
  width: 255px;
  height: 29px;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Noto Sans Hebrew", sans-serif;
  font-size: 16px;
}
.two_things .grade_status {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 10px;
}
.submit {
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.three_things {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
}
.three_things .dates_avrage {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 10px;
}
.three_things .start_finsih_date {
  display: flex;
  position: relative;
  flex-direction: row;
}
.three_things input {
  width: 160px;
  height: 29px;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Noto Sans Hebrew", sans-serif;
  font-size: 16px;
}
.three_things label {
  font-family: "Noto Sans Hebrew", sans-serif;
  font-size: 16px;
  color: white;
}
.upload_files {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
}
.upload_files label {
  font-family: "Noto Sans Hebrew", sans-serif;
  font-size: 16px;
  color: white;
  margin-left: 10px;
}
.upload_files2 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.upload_files .word_pdf1 {
  font-family: "Noto Sans Hebrew", sans-serif;
  font-size: 10px;
}
.upload_files i {
  font-size: 20px;
  margin-left: 10px;
}
.bottom_things {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-end;
}
.circle_page {
  width: 18%;
  margin: auto;
  margin-top: 15px;
  margin-left: 106px;
  display: flex;
  justify-content: space-evenly;
}
.circle_page i {
  font-size: 20px;
}
.next_page {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-left: 40px;
  align-items: center;
}
.next_page label {
  padding-left: 5px;
  font-size: 18px;
  color: white;
  font-family: "Noto Sans Hebrew", sans-serif;
}
.next_page i {
  font-size: 40px;
  color: white;
}
.sentence {
  font-size: 15px;
  font-family: "Noto Sans Hebrew", sans-serif;
}
footer {
  background: #d9d9d9;
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.footer-icons {
  position: absolute;
  left: 0;
  display: flex;
  margin-left: 50px;
}
.footer-icons a {
  margin: 18px;
  font-size: 140%;
  color: black;
}
.site-logo {
  font-size: 10%;
  margin-right: 50px;
}
.footer-icons a:nth-child(1):hover {
  color: rgb(11, 100, 3);
}
.footer-icons a:nth-child(2):hover {
  color: rgb(42, 3, 184);
}
.footer-icons a:nth-child(3):hover {
  color: rgb(179, 88, 2);
}
.footer-icons a:nth-child(4):hover {
  color: rgb(42, 3, 184);
}
